<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center"></ion-header>

  <ion-card class="ion-text-center">
    <img src="assets/pessoa.png" alt="Imagem de perfil">
  </ion-card>
  <ion-card>

    <ion-card-content class="ion-text-justify">
      <p>
        Me chamo Rafael Leonardo dos Santos Pereira, tenho 24 anos, moro em Passo Fundo - RS e estou estudando/desenvolvendo em Ionic 7.
        <br><br>
        Atualmente, estudo na Universidade de Passo Fundo - UPF e tenho interesse na área da programação.
        <br><br>
      </p>

      <p><strong>Formação acadêmica:</strong></p>
      <ul>
        <li>Curso de Análise e Desenvolvimento de Sistemas (ADS) na Universidade de Passo Fundo - UPF, previsto para conclusão em 2027.</li>
      </ul>

      <p><strong>Experiência:</strong></p>
      <ul>
        <li>[Breve descrição de estágio ou projeto anterior].</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
