<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center"></ion-header>

  <ion-card>
    <ion-card-content>
      <p>HTML</p>
      <progress value="80" max="100" style="width: 100%;"></progress>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Ionic Framework</p>
      <progress value="50" max="100" style="width: 100%;"></progress>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>JS</p>
      <progress value="60" max="100" style="width: 100%;"></progress>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Angular</p>
      <progress value="50" max="100" style="width: 100%;"></progress>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-content>
      <p>CSS</p>
      <progress value="60" max="100" style="width: 100%;"></progress>
    </ion-card-content>
  </ion-card>
</ion-content>
