<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <img src="assets/image.jpeg" alt="Imagem de perfil">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Olá, eu sou Rafael Leonardo
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Sou estudante do curso de Análise e Desenvolvimento de Sistemas (ADS) na UPF.
      Neste espaço, você pode conhecer um pouco mais sobre mim, minha trajetória acadêmica e meus interesses na área da
      tecnologia!
    </ion-card-content>
  </ion-card>
</ion-content>